 html{
    background-color: #000000;
  } 
  body{
    background-color:#ffffff;
    width: 370px;
    margin: 0 auto;
  }
  
  #content{
    margin: 0 auto;
    width: 98%;
    padding-bottom: 1px;
  }
  
  /* TEXT & FONTS */
  p {font-size: 1.25em;}
  
  figcaption, label, input, small{
    font-size: 1em;
  }
  h2 {
    font-size: 2em;
  }
  
  h1, h2, h3, nav, figcaption{
    text-transform: uppercase;
  }
  
  #About h2, #Gallery h2{
    text-align: center;
  }
  
  
  /* HEADER  */
  header{
    background-color: #ffffff;
    padding: 0px;
    margin-bottom: -14px;
  }
  
  h1{
    color: #000000;
    padding: 0px;
    margin: 0;
    font-size: 3em;
    padding: 6px;
  }

header img{
    width: 150px;
    height: 150px;
}
nav{
    background-color:#000000;
    text-decoration: none;
    font-weight: bold;
    text-transform:uppercase;
    padding: 0px;
    margin-bottom: -20px;
  }
  
  nav a{
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.5em;
    padding: 10px;
  }
  nav li{
    display: inline-block;
    padding:15px 20px;
  }
  
  nav a:hover{
    background-color: #007d7b;
    border-radius:8px;
    padding: 6px;
  }
[href="#top"] {
    position:fixed;
    bottom:0px;
    right: 0px;
    background-color: #007d7b;
    color: #ffffff;
    border-radius: 0px;
  }
  [href="#top"]:hover{
    position:fixed;
    bottom:0px;
    right: 0px;
    background-color: #ffffff;
    color: #000000;
    border-radius:10px 0 0px 0px;
  }

  #intro img{
    width: 80%;
    align-items: center;
  }

  #preview img{
    width: 80%;
    margin: 0 auto;
  }

